<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionChange)="searchMovies()"
      placeholder="Buscar película">
    </ion-searchbar>
  </ion-toolbar>

  <div class="movies-horizontal" *ngIf="searchResults.length > 0">
    <ion-card *ngFor="let item of searchResults" [routerLink]="['/detalles', item.id]">
      <img alt="{{item.title}}" [src]="item.poster_path ? 'https://image.tmdb.org/t/p/w500' + item.poster_path : 'assets/img/images.jpeg'" />
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
        <ion-card-subtitle>{{item.release_date}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{item.overview}}
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="searchResults.length === 0 && searchTerm">
    <p style="text-align:center; color: #888;">No se encontraron resultados.</p>
  </div>
</ion-content>
